.scroll::-webkit-scrollbar {
  width: .5em;
}
 
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.027);
}
 
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.2);
  outline: 0px solid slategrey;
}

.fa
{
    // font-size: x-large;
    color: #64ffda;
    text-decoration: none;
}

.large
{
    font-size: x-large;
    margin:0 10% 0 2%;
}

.colorprimary
{
    color: rgb(204,214,246);
    font-weight: bold;
}

.colorsecondary
{
    color: rgb(136,146,176);
}

.colorsub
{
    color: #64ffda;
}

.btn
{
    border: 2px solid #64ffda;border-radius: 5px;background-color: rgb(10,25,47);padding: 1% 4% 1% 4%;margin: 10px;
}

.btn :hover
{
    color: wheat;
    background-color:#5bfdd7 ;
}

.skills > img
{
    margin: 10px;
    border-radius: 5px;
}

img {
    filter:grayscale(50%) ;
  }


  #blur-text
  {
    filter: grayscale(40%) 
  }

  #blur-text:hover {
    -webkit-filter: blur(5px);
     filter: grayscale(0%);
  }

  #change:hover
  {
    -webkit-filter: blur(5px);
     filter: saturate(4);
  }

  #change2:hover
  {
    -webkit-filter: blur(5px);
     filter: grayscale(0%);
  }

  .hidden {
    visibility: hidden;
    position:relative;
    top: 30px;
    width: 300px;
    padding-top: 50px;
    font-size: 2em;
    z-index: 99px;
  }
  
  .container:hover > .hidden {
    visibility: visible;
    pointer-events: none;
  }


.projectcard
{
    background-color: rgba(10,25,47,0.7);
    border: 0.5px solid rgba(67, 130, 224, 0.2);
    border-radius: 10px;
}

.projectcardmain
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.studyexpimg
{
  display: flex;justify-content: center;align-items: center;
  background-repeat: no-repeat;background-size: cover;background-position: center;backdrop-filter: brightness(0.3);
}
